.engphys-page {
  display: flex;
  gap: clamp(.75rem, 3vw, 1.5rem);
  justify-content: start;
  align-items: center;
  /* min-height: 85vh; */
  padding: 1rem 1rem;
  flex-direction: column;
  height: 100vh;
  /* flex: 1;    */
}

.e-contents {
  display: flex;
  flex-direction: column;
  gap: clamp(.75rem, 3vw, 1.5rem);
  justify-content: start;
  background: var(--surface);
  border-radius: var(--radius);
  /* fill the available space */
  /* flex: 1; */
  /* align-self: stretch; */
  align-items: center;
  padding: clamp(.75rem, 2.5vw, 2rem);
  box-shadow: var(--shadow);
}