.reflections-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(.75rem, 2.5vw, 1.5rem);
  /* justify-content: stretch; */
  min-height: 100vh;
  align-items: center;
  /* min-height: 85vh; */
  padding: 1rem 1rem;
  flex-direction: column;
  /* flex: 1;  */
}

.ref-grid {
  display: grid;
  grid-template-columns: 2fr 7fr;
  gap: clamp(.75rem, 3vw, 1.5rem);
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  /* min-height: 85vh; */
  flex-direction: column;
  /* flex: 1;    */
  color: var(--accent);
}

.r-sidebar {
  display: flex;
  flex-direction: column;
  gap: clamp(1.75rem, 3vw, 1.5rem);
  justify-content: start;
  background: var(--surface);
  border-radius: var(--radius);
  /* fill the available space */
  /* flex: 1; */
  align-self: stretch;
  align-items: center;
  padding: clamp(1rem, 2.5vw, 3rem);
  box-shadow: var(--shadow);
  text-align: center;
}

.r-sidebar-title {
  font-family: var(--heading);
  font-size: clamp(16px, 1.8vw, 20px);
  color: var(--accent);
  text-align: center;
}

.r-num {
  font-family: var(--mono);
  font-size: clamp(12px, 1.5vw, 15px);
  color: var(--muted);
  text-transform: uppercase;
  margin-right: 0.25rem;
}
.r-title {
  font-family: var(--heading);
  font-size: clamp(13px, 1.5vw, 16px);
  color: var(--accent);
  text-align: center;
}

.r-article {
  display: flex;
  flex-direction: column;
  gap: clamp(.75rem, 1.25vw, 1.75rem);
  justify-content: start;
  background: var(--surface);
  border-radius: var(--radius);
  /* fill the available space */
  /* flex: 1; */
  align-self: stretch;
  /* align-items: center; */
  padding: clamp(1rem, 2.5vw, 3rem);
  box-shadow: var(--shadow);
}

.article-meta, .article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: clamp(12px, 1.5vw, 16px);
  font-family: var(--mono);
  color: var(--muted);
  letter-spacing: 0.02rem;
  /* text-transform: uppercase; */
}
.article-title {
  font-family: var(--heading);
  font-size: clamp(18px, 2.5vw, 24px);
  color: var(--accent);
  text-align: center;
  line-height: 1;
  margin-bottom: clamp(0.5rem, 1vw, 1rem);
  letter-spacing: -0.02em;
}

.article-content {
  display: flex;
  font-size: clamp(12.5px, 1.25vw, 16.5px);
  line-height: 1.5;
  flex-direction: column;
  gap: clamp(.25rem, 1vw, .5rem);
}


@media (max-width: 760px) {
  .ref-grid {
    grid-template-columns: 1fr;
    gap: clamp(.75rem, 3vw, 1.5rem);
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    /* min-height: 85vh; */
    flex-direction: column;
    /* flex: 1;    */
    color: var(--accent);
  }

  .r-sidebar {
    width: 100%;
    padding: 1rem clamp(.75rem, 20vw, 5rem);
  }
}